<mat-form-field>
    <mat-label>Input</mat-label>
    <input [(ngModel)]="plate" matInput>
</mat-form-field>
<mat-form-field>
    <mat-label>Select</mat-label>
    <mat-select [(ngModel)]="optionIO">
        <mat-option *ngFor="let cat of inputOutput" [value]="cat.key">
            {{ cat.name }}
        </mat-option>
    </mat-select>
</mat-form-field>
<div class="example-button-container">
    <button (click)="registerInputOutput()" mat-fab extended>
        <mat-icon>favorite</mat-icon>
        Registrar Vehiculo
    </button>
</div>